.hide {
    display: none
}

h1 {
    margin: 50px;
    text-align: center
}

#bio {
    text-align: center;
}

#scores {
    justify-content: center;
}

.savedScore {
    width: 10%;
    margin: auto;
}

.scoreBtn {
    text-align: right;
}

.startBtn {
    float: right;
}

.saveBtn {
    float: right;
}